.login-page {
    position: relative;
    min-height: 100vh;
    background: url('../assets/backgroundImage.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
  }
  
  .login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }
  
  .login-card-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 450px;
  }
  