.nutrition-page {
    position: relative;
    min-height: 100vh;
    background: url('../assets/backgroundImage.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.nutrition-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.nutrition-card-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
}

.no-resize-scroll {
    resize: none;
    overflow-y: auto;
    height: 197px;
}

.transparent-table {
    background-color: transparent !important;
  }
  
  .transparent-table thead,
  .transparent-table tbody,
  .transparent-table tr,
  .transparent-table th,
  .transparent-table td {
    background-color: transparent !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: #fff !important;
  }
  