.workout-page {
    position: relative;
    min-height: 100vh;
    background: url('../assets/workoutBackgroundImage.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

.workout-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.workout-card-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
}